body {
    font-family: 'Quicksand', sans-serif;
    background-color: linen;
    margin: 0 auto;
    color: orangered;
    font-size: 16px;
    padding-bottom: 3rem;
}

h1 {
    text-align: center;
    margin: 4rem 0;
    line-height: 4.5rem;
}

h3 {
    text-align: center;
    margin: 5rem 0 3rem;
}

p {
    padding: 1rem 0;
    line-height: 2.8rem;
}

a {
    color: inherit;
    decoration: none;
}

a:hover, a:visited {
    color: inherit;
}

th {
    text-align:center;
}

img {
    margin: 2rem 0;
}

iframe {
    margin: 3rem 0;
}

.container {
    max-width: 800px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 2rem 0;
    background-color: orangered;
    border-radius: 0 0 15px 15px;
    margin-bottom: 2rem;
}

.nav-item {
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease;
}

.nav-item:hover {
    cursor: pointer;
    background-color: orangered;
}

.nav-link {
    font-size: 18px;
    color: orangered;
    letter-spacing: 1px;
}

.nav-link:hover {
    font-weight: 600;
    color: white;
}


.nav-tabs-border-color {
    color: orangered;
}

.table {
    color: #666666;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.table-header {
    background-color: orangered;
    color: white;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.btn {
    width: 500px;
}
