{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static './base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './space.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './custom.css' %}">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet"
</head>
<body>
    <div class="container">
        <div class="site-title">Disasters in the world 1970 - 2021 </div>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fa-solid fa-house mr-1"></i>
                    home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all' %}">
                    <i class="fa-solid fa-earth-americas mr-1"></i>
                    all data
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">
                    <i class="fa-solid fa-magnifying-glass mr-1"></i>
                    search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'comparison' %}">
                    <i class="fa-solid fa-ranking-star mr-1"></i>
                    comparison
                </a>
            </li>
        </ul>
        {% block content %}
            {% block page_content %}
            {% endblock %}
        {% endblock %}
    </div>
</body>
</html>