{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static './base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './space.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './custom.css' %}">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
    <style>
    #mapid { height: 350px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="site-title">Disasters in the world 1970 - 2021 </div>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fa-solid fa-house mr-1"></i>
                    home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all' %}">
                    <i class="fa-solid fa-earth-americas mr-1"></i>
                    all data
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">
                    <i class="fa-solid fa-magnifying-glass mr-1"></i>
                    search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chart' %}">
                    <i class="fa-solid fa-chart-simple mr-1"></i>
                    charts
                </a>
            </li>
        </ul>
        {% block content %}
            {% block page_content %}
            {% endblock %}
        {% endblock %}
    </div>
</body>
</html>