{% extends "base.html" %}

{% block title %}
Comparison Disaster Data
{% endblock %}

{% block page_content %}
<h3 class="mb-3">
    <i class="fa-solid fa-star mr-2"></i>Continent
</h3>

<div class="chart">
    <canvas id="continent"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type='text/javascript'>
        const rows = JSON.parse("{{continent_rows|safe}}".replace(/'/g, "\""));
        const config = {
            type: 'bar',
                data: {
                    labels: rows.label,
                    datasets: [{
                        label: 'Continent',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            ],
                            borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)'
                            ],
                        borderWidth: 1.8,
                        data: rows.data
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }

        }

        const continent = new Chart(
            document.getElementById('continent').getContext('2d'),
            config
        );

    </script>
</div>

<h3 class="mb-3">
    <i class="fa-solid fa-star mr-2"></i>Type
</h3>

<div class="chart">
    <canvas id="type"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type='text/javascript'>

        var type_rows = JSON.parse("{{type_rows|safe}}".replace(/'/g, "\""));
        var ctx = document.getElementById('type').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: type_rows.label,
                datasets: [{
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        ],
                        borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        ],
                        borderWidth: 1.8,
                        data: type_rows.data
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                    display: false
                    }
                }
        });

    </script>
</div>

<h3 class="mb-3">
    <i class="fa-solid fa-star mr-2"></i>Year
</h3>
<div class="chart">
    <canvas id="year"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type='text/javascript'>

        var year_rows = JSON.parse("{{year_rows|safe}}".replace(/'/g, "\""));
        var ctx = document.getElementById("year").getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: year_rows.label,
                datasets: [{
                    borderColor: 'rgb(255, 69, 0)',
                    tension: 0.1,
                    data: year_rows.data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                display: false
                }

            }
        });

    </script>
</div>

<h3 class="mb-3">
    <i class="fa-solid fa-star mr-2"></i>Region
</h3>
<div class="chart">
    <canvas id="region"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type='text/javascript'>
        var region_rows = JSON.parse("{{region_rows|safe}}".replace(/'/g, "\""));
        var ctx = document.getElementById("region");

        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: region_rows.label,
                datasets: [{
                    backgroundColor: [
                        '#FF4500',
                        '#FF8243',
                        '#FFA07A',
                        '#FFC0CB',
                        '#FF69B4',
                        '#FFD700',
                        '#FFA500',
                        '#FF7F50',
                        '#F08080',
                        '#F4A460',
                        '#FFDAB9',
                        '#FFB6C1',
                        '#FF8C00',
                        '#FF5733',
                        '#FF1493',
                        '#FF6347',
                        '#FF69B4',
                        '#FF8C00',
                        '#FFA07A',
                        '#FFD700',
                        '#FF4500',
                        '#FFB6C1',
                        '#F08080'
                    ],
                    borderWidth: 1.5,
                    data: region_rows.data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            dispaly: false
                        },
                        gridLines: {
                            display: false,
                        }
                    }]

                }
            }
        });

    </script>
</div>

{% endblock %}