{% extends "base.html" %}


{% block title %}
Detail: {{disaster.disasterNo}
{% endblock %}

{% block page_content %}
<h1>Detail: {{disaster.disasterNo}}</h1>
{% load static %}
<div id="mapid"></div>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <script type = "text/javascript">
        try {
            var map = L.map('mapid').setView([0, 0], 2);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: 'pk.eyJ1Ijoic2NoYXJsYXUiLCJhIjoiY2szYnVuOWxnMDl4bDNmdWlhNGxtdHFwNCJ9.AscLdeuE02X-3W7Mtvos8A'
            }).addTo(map);

            var taggingIcon = L.icon({
                iconUrl: "{% static 'images/placeholder-yellow.png' %}",
                iconSize: [35, 35]
            });

            var marker = L.marker([{{ geoLocation.latitude }}, {{ geoLocation.longitude }}], {icon: taggingIcon}).addTo(map);
        } catch(Exception e) {
            console.log(err)
        }
    </script>
<p><a href={% url 'disaster_edit' disasterNo=disaster.disasterNo %}>Edit this disaster</a>
    <a href={% url 'disaster_delete' disasterNo=disaster.disasterNo %}>delete this disaster</a>
</p>

<table class="table align-middle my-3">
    <tr>
        <th scope="col">DisasterNo</th>
        <td>{{disaster.disasterNo}}</td>
    </tr>
    <tr>
        <th scope="col">Year</th>
        <td>{{disaster.year}}</td>
    </tr>
    <tr>
        <th scope="col">SequenceNo</th>
        <td>{{disaster.seq}}</td>
    </tr>
    <tr>
        <th scope="col">Group</th>
        <td>{{disaster.group}}</td>
    </tr>
    <tr>
        <th scope="col">Subgroup</th>
        <td>{{disaster.subgroup}}</td>
    </tr>
    <tr>
        <th scope="col">Type</th>
        <td>{{disaster.type.id}}</td>
    </tr>
    <tr>
        <th scope="col">Subtype</th>
        <td>{{disaster.subtype}}</td>
    </tr>
    <tr>
        <th scope="col">EventName</th>
        <td>{{disaster.eventName}}</td>
    </tr>
    <tr>
        <th scope="col">ISO</th>
        <td>{{disaster.iso}}</td>
    </tr>
    <tr>
        <th scope="col">Continent</th>
        <td>{{disaster.continent.id}}</td>
    </tr>
    <tr>
        <th scope="col">Region</th>
        <td>{{disaster.region.id}}</td>
    </tr>
    <tr>
        <th scope="col">Country</th>
        <td>{{disaster.country}}</td>
    </tr>
    <tr>
        <th scope="col">Location</th>
        <td>{{disaster.location}}</td>
    </tr>
    <tr>
        <th scope="col">StartYear</th>
        <td>{{disaster.startYear}}</td>
    </tr>
    <tr>
        <th scope="col">StartMonth</th>
        <td>{{disaster.startMonth}}</td>
    </tr>
    <tr>
        <th scope="col">StartDay</th>
        <td>{{disaster.startDay}}</td>
    </tr>
    <tr>
        <th scope="col">EndYear</th>
        <td>{{disaster.endYear}}</td>
    </tr>
    <tr>
        <th scope="col">EndMonth</th>
        <td>{{disaster.endMonth}}</td>
    </tr>
    <tr>
        <th scope="col">EndDay</th>
        <td>{{disaster.endDay}}</td>
    </tr>
    <tr>
        <th scope="col">TotalDeaths</th>
        <td>{{disaster.totalDeaths}}</td>
    </tr>
    <tr>
        <th scope="col">Injured</th>
        <td>{{disaster.injured}}</td>
    </tr>
    <tr>
        <th scope="col">Affected</th>
        <td>{{disaster.affected}}</td>
    </tr>
    <tr>
        <th scope="col">TotalAffected</th>
        <td>{{disaster.totalAffected}}</td>
    </tr>
    <tr>
        <th scope="col">Homeless</th>
        <td>{{disaster.homeless}}</td>
    </tr>
    <tr>
        <th scope="col">DamageCost($1K)</th>
        <td>{{disaster.damageCost}}</td>
    </tr>
</table>
{% endblock %}


