{% extends "base.html" %}
{% load static %}
{% block title %}
Disaster Info Website
{% endblock %}
{% block page_content %}
<h1>Global Disaster Info Website</h1>
<div class="team-box">
    This website provides details of the various disasters which happened around the world.<br/>
    <span style="font-weight: bold; font-size: 1.2rem">Developed by
        <img src="{% static 'images/team_hotel_logo.png' %}" width="100" style="margin: 0.5rem"/>
    </span>
</div>
<div class="text-box">
    <ul>
        <li>
            <a href="{% url 'home' %}">
                <span class="tag">/home</span>
            </a>&ensp;... Welcome page!
        </li>
        <li>
            <a href="{% url 'all' %}">
                <span class="tag">/all</span>
            </a>&ensp;... You can find all disaster data between 1960 and 2021.
        </li>
        <li>
            <a href="{% url 'disaster_new' %}">
                <span class="tag">/new</span>
            </a>&ensp;... You can register new disaster data.
        </li>
        <li>
            <a href="{% url 'detail' disasterNo='2011-0082-JPN' %}">
                <span class="tag">/detail/[disasterNo]</span>
            </a>&ensp;... You can find a detail data by clicking DisasterNo in the table.
        </li>
        <li>
            <a href="{% url 'disaster_edit' disasterNo='2011-0082-JPN' %}">
                <span class="tag">/edit/[disasterNo]</span>
            </a>&ensp;... You can edit a disaster data which already exist.
        </li>
        <li>
            <a href="{% url 'search' %}">
                <span class="tag">/search</span>
            </a>&ensp;... You can search disasters by multiple conditions.
        </li>
        <li>
            <a href="{% url 'chart' %}">
                <span class="tag">/chart</span>
            </a> ... You can compare disaster data by year, continent, region, and disaster type.
        </li>
    </ul>
</div>
{% endblock %}